

@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300italic,300,100italic,100,900italic,900,700italic,700,500italic,500,400italic);

/*--------------------------------------------------------------------------------------------------
CSS Styles for <PROJECT NAME>.

version:   1.0
--------------------------------------------------------------------------------------------------*/

/* =CSS Reset
--------------------------------------------------------------------------------------------------*/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* End CSS Reset
--------------------------------------------------------------------------------------------------*/

/* remember to define focus styles! */
:focus {
    outline: 0;
}
/* =Toolkit
--------------------------------------------------------------------------------------------------*/

/* Micro Clearfix Hack by Nicholas Gallagher (http://nicolasgallagher.com/micro-clearfix-hack/) */
/* For modern browsers */
.cf:before, .cf:after { content:""; display:table; }
.cf:after { clear:both; }
/* For IE 6/7 (trigger hasLayout) */
.cf { zoom:1; }

/* general purpose classes */
.nodisplay { display:none; }
.nodisplay_strict { display:none !important; }
.alignleft { float:left; }
.alignnone { clear:both;
    font-size:0;
    line-height:0;
    margin:0;
    padding:0;
    border:0;
    height:0;
    width:0;}
.alignright { float:right;}

/* End Toolkit
--------------------------------------------------------------------------------------------------*/

/* =Normalization - mostly derived from normalize.css (https://github.com/necolas/normalize.css/) but without comments and compressed to keep the file small
--------------------------------------------------------------------------------------------------*/

hr { display:block; height:1px; border:0; margin:1em 0; padding:0; border-top:1px solid #cccccc; /* change border colour to suit your needs */ }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }
html {font-size: 100%;  -webkit-text-size-adjust: none; -ms-text-size-adjust: none;}
body, button, input, select, textarea { font-family: sans-serif; }
a:focus { outline: none; }
a:hover, a:active { outline: none; }
h1 {}
h1, h2, h3, h4, h5, h6, p, pre, blockquote, form, fieldset, table, ul {}
dd { margin: 0px; }
nav ul, nav ol { list-style: none; list-style-image: none; }
ins {text-decoration: none;}
del { text-decoration: line-through; }
abbr[title] { border-bottom: 1px dotted; cursor:help; }
b, strong { font-weight: bold; }
dfn { font-style: italic; }
mark { background: #ff0; color: #000; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace;}
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
small { font-size: 100%; }
sub,sup { font-size: 100%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align:top;}
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }
form { margin: 0; }
fieldset { border: none; margin: 0; padding: 0; }
legend { border: 0; padding: 0; white-space: normal; *margin-left: -7px;}
input, textarea {-webkit-appearance: none;}
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; outline:0;}
button, input { line-height: normal; }
button{ border: 0; padding: 0; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; white-space: normal;}
input, select { vertical-align:middle; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *height: 13px; *width: 13px;}
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0;}
textarea { overflow: auto; vertical-align: top; resize: none; -webkit-appearance: none; }
::-moz-focus-inner {border: 0; outline: 0;}
input::-webkit-input-placeholder { color: #000; opacity:1;} /* WebKit browsers */
input:-moz-placeholder { color: #000; opacity:1;} /* Mozilla Firefox 4 to 18 */
input::-moz-placeholder { color: #000; opacity:1;} /* Mozilla Firefox 19+ */
input:-ms-input-placeholder { color: #000; opacity:1;} /* Internet Explorer 10+ */
/* End Normalization
--------------------------------------------------------------------------------------------------*/


/* =Typography
--------------------------------------------------------------------------------------------------*/

/* Setting up the fonts */

html, body{ height: 100%; width: 100%; }
body {
    font: 14px/18px Arial, Helvetica, sans-serif;
    color:#000;
    /*background:#fff;*/
    background:#e8ebf1;
    -webkit-font-smoothing: antialiased;
}

/* End Typography
--------------------------------------------------------------------------------------------------*/


/* =Headings
--------------------------------------------------------------------------------------------------*/
h1 {}
h2 {}
h3 {}
h4 {}
h5 {}
h6 {}

/* End Headings
--------------------------------------------------------------------------------------------------*/


/* =Links
--------------------------------------------------------------------------------------------------*/
a {text-decoration:none; Color:#000; cursor:pointer !important; outline: 0;}
a:hover {text-decoration:underline;}

/* End Links
--------------------------------------------------------------------------------------------------*/


/* =Branding
--------------------------------------------------------------------------------------------------------*/
p {padding:0 0 10px 0; margin:0;}
html, body {}
.login-logo img{display: inline-block; margin-bottom: 10px;}


/* End Branding
--------------------------------------------------------------------------------------------------------*/



input.text::-webkit-input-placeholder {
    color: #838383;
}

input.text:-moz-placeholder { /* Firefox 18- */
    color: #838383;
}

input.text::-moz-placeholder {  /* Firefox 19+ */
    color: #838383;
}

input.text:-ms-input-placeholder {
    color: #838383;
}


body{ font-family: 'Roboto', sans-serif;}
.header{ background: #004176; padding: 20px 0; display: block; left: 0; margin: 0; position: fixed; right: 0; top: 0; width: 100%;  z-index: 8;}
.header .right-side{ margin-top: 20px;}
.header .link{ font-weight: 400; font-size: 16px; color: #fff; line-height: normal; position: relative; padding:0px 10px 0px 40px; border-left: 1px solid #4d7a9f; }
.header .link:first-child{ border: none;}
.header .link i{background: url('../../images/new-theme/sprite.png') no-repeat 0 -33px; display: inline-block; height: 30px; width: 30px; position: absolute; top: 0px; left: 10px;}
.header .link.logout i{background-position: 0 -73px;}
.header .logo{ display: inline-block;}
.header .menu-toggle{ background: url('../../images/new-theme/sprite.png') no-repeat -99px -6px; display: inline-block; height: 30px; width: 30px; margin-left: 25px; -webkit-transition: opacity 2s ease-in-out;
    -moz-transition: opacity 2s ease-in-out; -o-transition: opacity 2s ease-in-out; -ms-transition: opacity 2s ease-in-out;  transition: opacity 2s ease-in-out;}
.menu-active .menu-toggle{background-position: 0 0;}

h1.login-head{ font-size: 36px; line-height: normal; color: #656d78; font-family: 'Roboto', sans-serif; font-weight: 300; margin: 40px 0;}
.btn.blue{ background: #004176; min-width: 120px; border-radius: 0; color: #fff; height: 50px; line-height: normal; font-family: 'Roboto', sans-serif; font-weight: 500; font-size: 18px;}
.btn.gray{ background: #838383; min-width: 120px; border-radius: 0; color: #fff; height: 45px; line-height: 30px; font-family: 'Roboto', sans-serif; font-weight: 400; font-size: 16px;}
input.text{background: #f5f5f5; height: 45px; line-height: 45px; width: 100%; border: 1px solid #838383; padding: 10px 15px; color: #838383; font-size: 18px;}
.lite-login{ max-width: 520px; position: absolute; top:0; right:0; left: 0; bottom: 0; margin: auto; padding: 40px 60px; height: 540px; background-color: rgba(255, 255, 255, 0.88); border-radius: 3px;}
.forgot-password  .lite-login{ height: 480px;}
.lite-login input.text{ margin-bottom: 20px;}
.forgot-link{ font-size: 18px; color: #004176; font-family: 'Roboto', sans-serif; font-weight: 500; display: block; margin-top: 15px;}
.bottom-text::before{content: ""; height: 1px; width: auto; background: #ced0d1; position: absolute; left: 15px; right: 15px; top:0;}
.bottom-text{ padding:15px; margin-top: 15px; position: relative; }
.bottom-text span.text{ font-size: 16px; color: #444; font-family: 'Roboto', sans-serif; display: block; line-height: normal; margin: 5px 0;}
.bottom-text .click-here{ color: #004176;  font-size: 16px; font-family: 'Roboto', sans-serif; display: block; line-height: normal; margin: 5px 0;}
.lang-on-loginpage{bottom: 25px;left: 15px;position: relative;}
.main{ position: relative;}
.user{ padding:20px 15px;}
.user .user-img{ width: 40%; float: left; }
.user .name{ width: 60%; float: left; padding:12px 0px 0px 0px;}
.user .name h6{ color: #444444; font-weight: 600; font-size: 18px; line-height: normal;}
.user .name span.text{ color: #838383; font-size: 15px; line-height: normal; }
.left-side-menu{ padding-left: 0px; padding-right: 0px; width: 268px; position: fixed; top:88px; left: 0; bottom:0; background: #fff;  margin-left: -268px; transition: all 280ms cubic-bezier(0.4, 0, 0.2, 1) 0s; }
.sidemenu li{ border-top: 1px solid #e8ebf1; }
.sidemenu li:last-child{border-bottom: 1px solid #e8ebf1;}
.sidemenu li a{ font-size: 14px; color: #767676; line-height: normal; position: relative; padding:20px 25px 20px 45px; display: block;}
.sidemenu li a i{background: url('../../images/new-theme/sprite.png') no-repeat 0 -118px; display: inline-block; height: 30px; width: 30px; position: absolute; top: 15px; left: 15px;}
.sidemenu li a:after{ background: url('../../images/new-theme/sprite.png') no-repeat 0 -397px; position: absolute; right: 15px; top: 21px; content: ""; height: 15px; width: 15px;}
.sidemenu li a.calender i{ background-position: 0 -177px;}
.sidemenu li a.meters i{ background-position: 0 -238px;}
.sidemenu li a.news i{ background-position: 0 -297px;}
.sidemenu li a.setting i{ background-position: 0 -354px;}
.sidemenu li:hover a{ color: #004176;  text-decoration: none;}
.sidemenu li:hover a.dashboard i{background-position: -42px -119px;}
.sidemenu li:hover a.calender i{ background-position: -42px -178px;}
.sidemenu li:hover a.meters i{ background-position: -42px -239px;}
.sidemenu li:hover a.news i{ background-position: -42px -298px;}
.sidemenu li:hover a.setting i{ background-position: -40px -354px;}


.main.menu-active .left-side-menu{ margin-left: 0px; }
.main.menu-active .content.slide{ margin-left: 253px;}

.content.slide{ position: relative; transition :margin 280ms ease 0s; margin-top: 88px;}
.content.slide:before {background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0; bottom: 0; content: ""; display: block; left: 0; opacity: 0; position: fixed; right: 0; top: 0;
    transition: opacity 400ms ease 0s;	z-index: -1; }

.login-page{ background: url('../../images/new-theme/login-bk.png') no-repeat; background-size: cover; height: 100%; width: 100%;}
.login-page-for-cancel{background-size: cover; height: 100%; width: 100%;}
.forgot-password{ background: #dcdcdc; height: 100%; width: 100%;}

.page-content{ background: #e8ebf1; padding: 15px; min-height: 850px;}
.country{ position: absolute; top: 40px; right: 15px; width: 114px !important; }
.country .btn, .country .btn:hover{ border-color: #fff; background: #fff;}
.country span{color: #004176; font-size: 16px; line-height: normal; font-weight: 400;}
h2.head{ font-size: 24px; color: #444; font-weight: 600; line-height: normal; margin: 25px 0;}
h6.head{ font-size: 18px; text-transform: capitalize; color: #444; font-weight: 700; line-height: normal;}

.white-box{ background: #fff; border-radius: 3px; padding: 15px 25px; margin-bottom: 25px; -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.white-box h2.head{ text-transform: uppercase; padding:15px 0 15px 15px; border-bottom: 1px solid #f5f5f5; margin: 0;}
.green{background: #46b149;}
.blue{ background: #2977dd;}
.red{background: #ee1313;}
.orange{ background: #e67e22;}
span.big-round{ display: block; height: 35px; width: 35px; float: left; margin-right: 10px; border-radius: 50%; line-height: normal; margin-top: -4px;}
.white-box-content{ padding:10px 15px; position: relative;}
span.green-text{font-size: 18px; text-transform: capitalize; color: #008000; font-weight: 700; line-height: normal;}
.white-box-content a.icon{ display: block; height: 35px; width: 35px; top: 15px; right: 15px; position: absolute; background: url('../../images/new-theme/sprite.png')no-repeat -97px -49px;}
.white-box-content a.icon.plus{ background-position: -36px -49px;}
h2.head.bottom{ text-transform: uppercase; font-weight: 500;}
.head-bk{ overflow: hidden; position: relative;  font-size: 18px; color: #838383; line-height: 25px;  padding: 15px 20px; background: #f5f5f5;}
.white-box.small{padding: 0; -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); min-height: 250px;}
.white-box.small span.round{display: block; height: 25px; width: 25px; float: left; margin-right: 10px; border-radius: 50%; }
.icon-graph{ position: absolute; right: 15px; top: 12px; background: url('../../images/new-theme/sprite.png') no-repeat -43px 0; display: block; height: 30px; width: 30px;  }
.white-box.small .white-box-content{ padding: 20px; display:block;}
.white-box.small .white-box-content span.text{ color: #757575; font-size: 15px; line-height: normal; margin: 10px 0; display: block;width: 100%;float: left;}

.email-content h6.head{ padding-bottom: 15px; border-bottom: 1px solid #f5f5f5;}
.email-content .input-div{ padding-right: 0;}
.email-content .input-div input{ background: #fff; }
.email-content .btn.gray { min-width:100%; }
/*.email-content .btn{ width: 100%;}*/
label.label{ padding: 0px; font-size: 16px; color: #444; line-height: normal; font-weight: 400; display: block; margin-bottom: 10px; text-align: left;}
.email-content .section{ padding: 30px 0;}
.email-content .section .text.bold{ font-size: 18px; color: #757575; line-height: normal; font-weight: bold;}
.email-content .section .custom-select{ width: 100% !important;}
.email-content .section .custom-select .btn{background: #fff; height: 45px; line-height: 23px; width: 100%; border: 1px solid #838383; padding: 5px 15px; color: #838383; font-size: 18px; border-radius: 0;}
.email-content .section .custom-select .btn span{ font-weight: 400; font-family: 'Roboto', sans-serif;}
.email-content .section .input-div span.mes{ font-size: 16px; color: #838383; display: block; margin-top: 10px; text-align: right;}
.email-content .section .radio-group .radio{ display: inline-block; margin: 0 5% 0 0 !important;}
.email-content .section .sendme label{ font-size: 16px; font-weight: 500; color: #444; font-family: 'Roboto', sans-serif;}
.email-content .section .sendme{ margin: 10px 0 !important;}
.email-content .section #spec_time p { margin:10px 0 0;  }
.email-content .section #spec_time .no-padd { padding:0; }
.email-content .section #spec_time .col-xs-1 { padding:0; margin-right:15px; }
.email-content .section #spec_time .col-xs-1 select { width:100%; margin-bottom:10px; }

.email-content .section .checkbox-group .clearfix{ margin: 15px 0;}
.page-bottom-text span.text{ font-size: 16px; color: #444; line-height: normal; display: block; margin: 10px 0;}
.page-bottom-text span.text.bold{ font-weight: 500;}
.page-bottom-text .btn.blue{ line-height: 35px; margin: 15px 0 30px; border-radius: 2px; }

.meter-content .white-box-content img{margin: 0 auto; }
.meter-content .white-box-content span.text{ text-align: center;}

.footer{ background: #838383; height: 40px; line-height: 40px; text-align: center; /*position: fixed;width:100%;bottom:0;*/position: relative;}
.footer span.copy{ font-size: 12px; line-height: normal;  color:  #fff; font-weight: 400;}





/* =Forms
--------------------------------------------------------------------------------------------------*/
/* Removing fieldset borders (remove if you want to keep the defaults defined in Normalization) */
fieldset{border: none; margin: 0; padding: 0;}
fieldset p{}
.contactform{width:300px;}
.fieldgroup{display:block; margin-bottom:5px; border:1px solid #999; background:#efefef; padding:8px 10px; overflow:hidden;}
.fieldgroup input, .fieldgroup textarea{border:none; background:none; padding:0; width:100%;}
/* End Forms
--------------------------------------------------------------------------------------------------*/

/* =Tables
--------------------------------------------------------------------------------------------------*/

/* End Tables
--------------------------------------------------------------------------------------------------*/


/* =Misc 1
--------------------------------------------------------------------------------------------------*/

/* End Misc 1
--------------------------------------------------------------------------------------------------*/


/* =Misc 2
--------------------------------------------------------------------------------------------------*/

/* End Misc 2
--------------------------------------------------------------------------------------------------*/


/* =Additional 1
--------------------------------------------------------------------------------------------------*/

/* End Additional 1
--------------------------------------------------------------------------------------------------*/


/* =Additional 2
--------------------------------------------------------------------------------------------------*/

/* End Additional 2
--------------------------------------------------------------------------------------------------*/

/*===Custom CheckBox/Radio Style===*/
.checkbox label, .radio label{  line-height:normal; }

.checkbox{padding-left:20px; min-height: 25px; margin: 0px !important;}
.checkbox label{display:inline-block;vertical-align:middle;position:relative;padding-left:5px;}
.checkbox label::before{content:"";display:inline-block;position:absolute;width:24px;height:24px; left:-3px; top: -6px; margin-left:-20px; background:#fff url(../../images/new-theme/uncheckbox.png) no-repeat bottom;}
.checkbox label::after{display:inline-block;position:absolute;width:16px;height:16px; left:-3px; top:0px; margin-left:-20px;padding-left:3px;padding-top:1px;font-size:11px;color:#555;}
.checkbox input[type="checkbox"]{ opacity:0; z-index:-1; }
.checkbox input[type="checkbox"]:focus + label::before{outline:0px auto 0;}
.checkbox input[type="checkbox"]:checked + label::after{background:#fff url(../../images/new-theme/checkbox.png) no-repeat top; width: 24px; height: 24px;}
.checkbox input[type="checkbox"]:disabled + label{opacity:0.65;}
.checkbox input[type="checkbox"]:disabled + label::before{background-color:#eee;cursor:not-allowed;}
.checkbox.checkbox-circle label::before{border-radius:50%;}
.checkbox.checkbox-inline{margin-top:0;}
.checkbox-primary input[type="checkbox"]:checked + label::before{background-color:#337ab7;border-color:#337ab7;}
.checkbox-primary input[type="checkbox"]:checked + label::after{color:#fff;}
.checkbox-danger input[type="checkbox"]:checked + label::before{background-color:#d9534f;border-color:#d9534f;}
.checkbox-danger input[type="checkbox"]:checked + label::after{color:#fff;}
.checkbox-info input[type="checkbox"]:checked + label::before{background-color:#5bc0de;border-color:#5bc0de;}
.checkbox-info input[type="checkbox"]:checked + label::after{color:#fff;}
.checkbox-warning input[type="checkbox"]:checked + label::before{background-color:#f0ad4e;border-color:#f0ad4e;}
.checkbox-warning input[type="checkbox"]:checked + label::after{color:#fff;}
.checkbox-success input[type="checkbox"]:checked + label::before{background-color:#5cb85c;border-color:#5cb85c;}
.checkbox-success input[type="checkbox"]:checked + label::after{color:#fff;}
.radio{padding-left:20px;}
.radio label{display:inline-block;vertical-align:middle;position:relative;padding-left:5px;}
.radio label::before{content:"";display:inline-block;position:absolute;width:16px;height:16px;left:0;margin-left:-20px;border:1px solid #9d9d9d;border-radius:50%;background-color:#f4f4f4;-webkit-transition:border .15s ease-in-out;-o-transition:border .15s ease-in-out;transition:border .15s ease-in-out;}
.radio label::after{display:inline-block;position:absolute;content:" ";width:8px;height:8px;left:4px;top:4px;margin-left:-20px;border-radius:50%; background-color:#fff;-webkit-transform:scale(0,0);-ms-transform:scale(0,0);-o-transform:scale(0,0);transform:scale(0,0);-webkit-transition:0 .1s cubic-bezier(0.8,-0.33,0.2,1.33);-moz-transition:0 .1s cubic-bezier(0.8,-0.33,0.2,1.33);-o-transition:0 .1s cubic-bezier(0.8,-0.33,0.2,1.33);transition:transform .1s cubic-bezier(0.8,-0.33,0.2,1.33);}
.radio input[type="radio"]{ opacity:0; z-index:-1;  }
.radio input[type="radio"]:focus + label::before{outline:0; border:1px solid #17b441; }
.radio input[type="radio"]:checked + label::after{ background:#17b441; -webkit-transform:scale(1,1);-ms-transform:scale(1,1);-o-transform:scale(1,1);transform:scale(1,1);}
.radio input[type="radio"]:disabled + label{opacity:0.65;}
.radio input[type="radio"]:disabled + label::before{cursor:not-allowed;}
.radio.radio-inline{margin-top:0;}
.radio-primary input[type="radio"] + label::after{background-color:#337ab7;}
.radio-primary input[type="radio"]:checked + label::before{border-color:#337ab7;}
.radio-primary input[type="radio"]:checked + label::after{background-color:#337ab7;}
.radio-danger input[type="radio"] + label::after{background-color:#d9534f;}
.radio-danger input[type="radio"]:checked + label::before{border-color:#d9534f;}
.radio-danger input[type="radio"]:checked + label::after{background-color:#d9534f;}
.radio-info input[type="radio"] + label::after{background-color:#5bc0de;}
.radio-info input[type="radio"]:checked + label::before{border-color:#5bc0de;}
.radio-info input[type="radio"]:checked + label::after{background-color:#5bc0de;}
.radio-warning input[type="radio"] + label::after{background-color:#f0ad4e;}
.radio-warning input[type="radio"]:checked + label::before{border-color:#f0ad4e;}
.radio-warning input[type="radio"]:checked + label::after{background-color:#f0ad4e;}
.radio-success input[type="radio"] + label::after{background-color:#5cb85c;}
.radio-success input[type="radio"]:checked + label::before{border-color:#5cb85c;}
.radio-success input[type="radio"]:checked + label::after{background-color:#5cb85c;}
input[type="checkbox"].styled:checked + label:after{font-family:FontAwesome;content:"";}
input[type="checkbox"] .styled:checked + label::before{color:#fff;}
input[type="checkbox"] .styled:checked + label::after{color:#fff;}
#mydiv {
    top: 50%;
    left: 50%;
    width:30em;
    height:18em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
    border: 1px solid #ccc;
    background-color: #f3f3f3;
    position:fixed;
}



body.toggle .menu-active:after{display:none;}
body.toggle .left-side-menu{left:-5000px;}
.leftmenubarhide{position:absolute; top:0; left:0; display:none; width: 100%; height: 100%; background: rgba(0,0,0,0.4); z-index: 95;}

.trade-meter-box1{width: 25%; text-align: center; float: left;padding-right: 10px;padding-top: 55px;color:#757575;font-size: 14px;line-height: normal;word-wrap: break-word;}
.trade-meter-box2{width: 50%;float: left;padding-bottom:10px;}
.trade-meter-box3{width: 25%; text-align: center;  float: left;padding-left: 10px;padding-top: 55px;color:#757575;font-size: 14px;line-height: normal;word-wrap: break-word;}

/*=== End Style ===*/

/*pop-up code start*/
#inline_content h1 {color: #0f994b; line-height: 22px !important; font-size: 22px !important;  font-weight: bold !important; padding-bottom: 10px !important; }
#inline_content p { font-family:'Roboto'; font-size:16px; line-height:normal; color:#1e232c; font-weight:bold;  }
#inline_content .botm-btn { float:right; margin-top:20px;   }
#inline_content .botm-btn a { text-transform: uppercase; color: #fff; font-weight: bold; margin: 0 20px 0 0; background-color: #004176;
    padding: 8px 16px;  float: left; text-decoration: none; border-radius: 8px; font-weight:400;   }
#inline_content .botm-btn a.ignore { background-color:#fff; color:#333; border:1px solid #ccc;    }
#inline_content .botm-btn a.ignore:hover { color: #333; background-color: #e6e6e6; border-color: #adadad;}

/*pop-up code end*/

.upgradebtn {  color:#fff;text-decoration:none;background-color:#e67e22;padding:5px 8px;border:2px solid #fff;border-radius:5px; }

.upgradebtn:hover { background-color:#E67E4E;   }

.upgradenowbtn {
    color:#fff;text-decoration:none;background-color:#7ac143;padding:5px 8px;border:2px solid #fff;border-radius:5px;
}
.upgradenowbtn:hover { background-color:#69a727;   }

.modal-content-box {
    border: 5px solid #919192;
    background:#fff;
}

#upgradeModal .modal-header button.close { width:30px;  height:30px; cursor: pointer; padding:0; border-radius:80px; border:1px solid #2e2e2e;
    background:#ccc ;
}

a.clickroomaccess{background-attachment: scroll;
    background-clip: border-box;
    background:#c50e0a url(../../images/icon-live.png);
    background-origin: padding-box;
    background-position: 10px 6px;
    background-repeat: no-repeat;
    background-size: auto auto;
    color: #fff;
    font-size: 15px;
    height: 38px;
    line-height: 40px;
    margin-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    text-transform: uppercase; padding-left: 33px;}
a.clickroomaccess:hover,
a.clickroomaccess:focus{ background:#00b0ec url(../../images/icon-live.png);background-position: 10px 6px; background-repeat: no-repeat; text-decoration: none;}

.dropdown-menu a {
    color:black!important;
}
